<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque quasi explicabo, eligendi dolorem ad? At, qui praesentium nihil quis nam odit eum laborum quidem delectus unde tempore laudantium non!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque quasi explicabo, eligendi dolorem ad? At, qui praesentium nihil quis nam odit eum laborum quidem delectus unde tempore laudantium non!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque quasi explicabo, eligendi dolorem ad? At, qui praesentium nihil quis nam odit eum laborum quidem delectus unde tempore laudantium non!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>